body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  align-items: center;
  background-color: rgb(3, 2, 61);
  display: flex;
  justify-content: space-around;
  min-height: 150px;
}

.header h1 {
  font-size: x-large;
  color: #fff
  
}

.header nav {
  color: #fff;
}

.link {
  text-decoration: none;
  color: #fff;
}

.curriculo {
  background-color: #fff;
  color: black;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5%;
}

 .curriculo:hover {
  background-color: rgb(0, 0, 0);
  color: #fff;
  padding: 3px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5%;
  transition: 0.4s;
}